.gitignore
.DS_Store

application/cache/*
!application/cache/index.html

!application/*/.htaccess

application/backend/logs/*

composer.lock
urls.txt
.editorconfig

# IDE Files
#-------------------------
.vscode 

