AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index|assets|favicon\.ico|jlcms)
RewriteRule ^(.*)$ /index.php?/$1 [L]

</IfModule>    